.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 640px) {
  .footer {
    flex-direction: column;
    gap: 45px;
  }
  .icon_container {
    gap: 45px;
  }
}
