.nav {
  position: relative;
  padding-bottom: 2rem;
}

.logo {
  position: absolute;
  top: 0;
  left: 1rem;
}

.nav button {
  border-radius: unset;
  padding: unset;
  background: none;
  position: absolute;
  right: -10rem;
  top: 0;
}

@media screen and (min-width: 642px) {
  .logo {
    left: -2rem;
  }
}

@media screen and (max-width: 1281px) {
  .nav button {
    right: -7rem;
  }
}

@media screen and (max-width: 1152px) {
  .nav button {
    right: -3rem;
  }
}
